<form class="mt-4" name="container-form" method="post" action="/courses/handle-form-actions">
    <div>
      <h3>Khoá học của tôi</h3>
      <a href="/me/trash/courses">Thùng rác ({{deleteCount}})</a>

      <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">
            Chọn tất cả
          </label>
        </div>

        <select class="form-select form-select-sm checkbox-select-all-options" name="action" required>
          <option value="">All</option>-- hành động --</option>
          <option value="delete">Xoá</option>
        </select>

        <button class="btn btn-primary btn-sm check-all-submit-btn disabled">Thực hiện</button>
      </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Tên khoá học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" name="courseIds[]" type="checkbox" value="{{this._id}}">
                  </div>
                </td>
                <th scope="row">{{ sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-course-modal">Xoá</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Bạn chưa đăng khoá học nào.
                <a href="/courses/create">Đăng khoá học</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete course --}}

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Xoá khoá học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xoá khoá học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Xoá bỏ</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="post">
</form>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(){
      var courseId;
      var deleteForm = document.forms['delete-course-form'];
      var btnDeleteCourse = document.getElementById('btn-delete-course');
      var checkboxAll = $('#checkbox-all');
      var courseItemCheckbox = $('input[name="courseIds[]"]');
      var checkAllSubmitBtn = $('.check-all-submit-btn');
      var containerForm = document.forms['container-form'];

      //when dialog confirm clicked
      document.getElementById('delete-course-modal').addEventListener('show.bs.modal', event => {
      // Button that triggered the modal
      const Button = event.relatedTarget
      // Extract info from data-bs-* attributes
      courseId = Button.getAttribute('data-id');
      });

      //when delete courses btn clicked
      btnDeleteCourse.onclick = function(){
          deleteForm.action = `/courses/${courseId}?_method=DELETE`;
          deleteForm.submit();
      };

      //Checkbox all changed
      checkboxAll.change(function () {
        var isCheckedAll = $(this).prop('checked');
        courseItemCheckbox.prop('checked',isCheckedAll);
        renderCheckAllSubmitBtn();
      });

      //courses item checkbox changed
      courseItemCheckbox.change(function () {
        var isCheckedAll = courseItemCheckbox.length ===$('input[name="courseIds[]"]:checked').length;
        checkboxAll.prop('checked', isCheckedAll);
        renderCheckAllSubmitBtn();
      });

      //Re render check all submit button
      function renderCheckAllSubmitBtn() {
        var checkedCount = $('input[name="courseIds[]"]:checked').length;
        if(checkedCount){
          checkAllSubmitBtn.removeClass('disabled');
        }
        else{
          checkAllSubmitBtn.addClass('disabled');
        }
      };
    });
</script>
