<div class="mt-4">
    <div>
      <a href="/me/stored/courses">Danh sách khoá học</a>
      <h3>Khoá học đã xoá</h3>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khoá học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian xoá</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{ sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-course-modal">Xoá vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Thùng rác trống.
                <a href="/me/stored/courses">Danh sách khoá học</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete course --}}

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Xoá khoá học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục. Bạn vẫn muốn xoá khoá học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Xoá vĩnh viễn</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="post"></form>
<form name="restore-course-form" method="post"></form>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var restoreForm = document.forms['restore-course-form'];
    var btnDeleteCourse = document.getElementById('btn-delete-course');
    var restoreBtn = $('.btn-restore');
    
    //when dialog confirm clicked
    document.getElementById('delete-course-modal').addEventListener('show.bs.modal', event => {
    // Button that triggered the modal
    const Button = event.relatedTarget
    // Extract info from data-bs-* attributes
    courseId = Button.getAttribute('data-id');
    });

    //when delete courses btn clicked
    btnDeleteCourse.onclick = function(){
        deleteForm.action = `/courses/${courseId}/force?_method=DELETE`;
        deleteForm.submit();
    };
    
    //Restore btn clicked
    restoreBtn.click(function(e){
      e.preventDefault();
      var courseId = $(this).data('id');
      restoreForm.action = `/courses/${courseId}/restore?_method=PATCH`;
      restoreForm.submit();
    });
</script>